body {
    background: grey;
    font-family: sans-serif;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 100px 0px 100px;
    
}

button {
    padding: 5px;
    border-radius: 30px;
    border: none;
    color: white;
}

.btn-green {
    background-color: green;
}

.btn-orange{
    background-color: orange;
}

.btn-purple {
    background-color: purple;
}

button:hover {
    color:black;
}